#desc {
    display: block;
    /*width: 200px;*/
    background-color: #f1f1f1;
}

#conc {
    display: block;
    color: black;
    /*padding: 8px 16px;*/
    text-decoration: none;
    background-color: #808080;
}