#uniHeader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#uniHeader ul li {
  float: left;
  /*color: white;*/
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

#uniHeader ul li a {
  /*display: block;
  text-align: center;
  padding: 14px 16px;*/
  color: white;
  text-decoration: none;
}

body {
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}